.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../Images/wall/kandy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 101vh;
  padding-top: 50px;
  padding-left: 150px;
  text-align: left;
}
.image h1{
  margin-top:20%;
  color: rgb(255, 255, 255);
  font-size: 80pt;
  font-weight:bolder;
}

.goback {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  margin-left: 50px;
}

.text2 {
  font-size: 30px;
  font-weight: bold;
  color: hsl(190deg 64% 18%);
  margin: 50px auto;
  margin-bottom: -5px;
  text-align: center;
}

/* @font-face {
  font-family: Exo;
  src: url(./fonts/Exo2.0-Medium.otf);
} */

/* * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
} */

/* body { */
    /* background: #ddd; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../Images/wall/wall4.jpg);
    background-size: cover;
} */

.container {
  /* width: 90%; */
  height: auto;
  margin: auto;
  padding: 0px 0px 90px 0px;
}

.container .search {
  display: flex;
  padding: 80px 0px;
  justify-content:center;
  
}

.container .search input {
  width: 50%;
  padding: 5px 16px;
  background: transparent;
  font-size: 20px;
  text-transform: capitalize;
  border: 2px solid #000;
  border-radius: 20px;
  
}

.container .search input::placeholder {
  color: rgba(0, 0, 0, 0.451);
  font-weight: 500;
}

.container .places-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-left: 30px;
  padding-right: 30px;
}

.container .place {
  text-align: center;
  background-size: cover;
  cursor: pointer;
  margin: 30px auto;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: flex-end;
  filter:saturate(1.5);
}

.container .place:hover {
  outline: .2rem solid #222;
  outline-offset: 0;
  padding: 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  filter:brightness(1.1);
}
.container .places-container .place p{
  font-size: 10pt; 
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.3s ease 0s;
  background-color: #27272793;
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.container .places-container .place:hover p {
  font-weight: bold;
  font-size: 12pt;
}

.container .places-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(44, 44, 44, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.container .places-preview .preview {
  display: none;
  text-align: left;
  background: #00443F;
  position: relative;
  margin: 2rem;
  width: 80%;
  color: #ffffff;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
}

.container .places-preview .preview.active {
  display: inline-block;
}

.container .places-preview .preview img {
  height: 40rem;
  border: #000000 solid 1px;
  margin: 10px;
}

.container .places-preview .preview h3 {
  color: rgb(255, 255, 255);
  padding: .5rem 0;
  font-size: 2.5rem;
  margin-top: 40px;
  text-decoration: underline;
}

.container .places-preview .preview p {
  color: white;
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.container .places-preview .preview .d2 {
  /*display: flex;
  flex-wrap: wrap;*/
  width: fit-content;
  float: right;
  margin-top: 1rem;
}

.container .places-preview .preview .d2 a {
  padding: 0.5rem;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-decoration: none;
  background: #000000;
}







 
