section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
    background: #ffffff;
}

.home .content {
    z-index: 0;
    color: #fff;
    width: 80%;
    max-width: fit-content;
    padding-top: 300px;
}


.home .content .text1 {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 75px;
}

.home .content .text2 {
    font-size: 6em;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 75px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../Images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    justify-content: center;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.home .content .text3 {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 75px;
}

.home .content a {
    background: #fff;
    padding: 8px 25px;
    color: #4e75e0;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 20px;
}

.home video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0px;
}

.text3 span {
    color: hsl(48, 76%, 61%);
    font-size: 1.2em;
    font-weight: 60;
}


/* second page*/
.second-page {
    margin-top: 0px;

    height: 100vh;
    padding: 75px 0;
    background-color: rgb(255, 255, 255);
    background-image: url();
}

.second-page .second-page-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.second-page .second-page-content .card-one,
.card-two {
    width: 50%;
    height: 500px;
}

.second-page .second-page-content .card-two {
    display: flex;
}

.second-page .second-page-content .card-one .text2 {
    font-size: 30px;
    font-weight: bold;
    color: hsl(190deg 64% 18%);
    margin: -130px 10px 30px 250px;
    justify-content: center;
}


.second-page .second-page-content .card-one p {
    font-size: 16.5px;
    font-family: Comic Sans MS;
    font-style: italic;
    color: #44686F;
    margin: 10px 10px 10px 250px;
}

/* map */
.mapdiv{
  width:23%;
  margin: auto;
  margin-top: -130px;
  margin-left: 180px;
  background-color: rgb(255, 255, 255);
}

.mapdiv :hover {
fill:#383c3e;
}

.mapdiv path {
  stroke-width:4px;
  transition: fill 0.3s;
}


/* map provinces */
.central {
  fill: #FFA1A1;
  stroke: #000000;
}


.eastern {
  fill: #818100;
  stroke: #000000;
}

.nothern {
  fill: #FF9571;
  stroke: #000000;
}

.northcentral {
  fill: #FFFF91;
  stroke: #000000;
}

.northwestern {
  fill: #71A1FF;
  stroke: #000000;
}

.southern {
  fill: #B4FF3E;
  stroke: #000000;
}

.sabara {
  fill: #FF81C1;
  stroke: #000000;
}

.uva {
  fill: #00F0F0;
  stroke: #000000;
}

.western {
  fill: #FFC100;
  stroke: #000000;
}

.ajax-loader2, .ajax-loader3 {
  position: absolute;
  transform-origin: 50% 50%;
  font-size: 80px;
  width: 1em;
  height: 3em;
  color: #d31145;
}
.ajax-loader2 .paw, .ajax-loader3 .paw, .ajax-loader4 .paw {
  width: 1.5em;
  height: 1em;
  animation: 2050ms pawAnimation ease-in-out infinite;
  opacity: 0;
}
.ajax-loader2 .paw svg, .ajax-loader3 .paw svg {
  width: 100%;
  height: 100%;
}
.ajax-loader2 .paw .icon, .ajax-loader3 .paw .icon {
  fill: #d31145;
}
.ajax-loader2 .paw:nth-child(odd), .ajax-loader3 .paw:nth-child(odd) {
  transform: rotate(0deg);
}
.ajax-loader2 .paw:nth-child(even), .ajax-loader3 .paw:nth-child(even) {
  transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
}
.ajax-loader2 .paw:nth-child(1), .ajax-loader3 .paw:nth-child(1) {
  animation-delay: 2.25s;
  transform: rotate(0deg) translate3d(-4%, -48%, 0);
}
.ajax-loader2 .paw:nth-child(1), .ajax-loader3 .paw:nth-child(1) {
  animation-delay: 2.25s;
  transform: rotate(-8deg) translate3d(30%, -50%, 0);
}
.ajax-loader2 .paw:nth-child(2), .ajax-loader3 .paw:nth-child(2) {
  animation-delay: 2s;
  transform: rotate(0deg) scaleX(-1) translate3d(10%, -100%, 0);
}
.ajax-loader2 .paw:nth-child(2), .ajax-loader3 .paw:nth-child(2) {
  animation-delay: 2s;
  transform: rotate(-8deg) scaleX(-1) translate3d(-30%, -120%, 0);
}
.ajax-loader2 .paw:nth-child(3), .ajax-loader3 .paw:nth-child(3) {
  animation-delay: 1.75s;
  transform: rotate(0deg) translate3d(-12%, -144%, 0);
}
.ajax-loader2 .paw:nth-child(3), .ajax-loader3 .paw:nth-child(3) {
  animation-delay: 1.75s;
  transform: rotate(0deg) translate3d(45%, -144%, 0);
}
.ajax-loader2 .paw:nth-child(4), .ajax-loader3 .paw:nth-child(4) {
  animation-delay: 1.5s;
  transform: rotate(0deg) scaleX(-1) translate3d(20%, -200%, 0);
}
.ajax-loader2 .paw:nth-child(4), .ajax-loader3 .paw:nth-child(4) {
  animation-delay: 1.5s;
  transform: rotate(0deg) scaleX(-1) translate3d(-32%, -200%, 0);
}
.ajax-loader2 .paw:nth-child(5), .ajax-loader3 .paw:nth-child(5) {
  animation-delay: 1.25s;
  transform: rotate(0deg) translate3d(-20%, -240%, 0);
}
.ajax-loader2 .paw:nth-child(5), .ajax-loader3 .paw:nth-child(5) {
  animation-delay: 1.25s;
  transform: rotate(0deg) translate3d(40%, -240%, 0);
}
.ajax-loader2 .paw:nth-child(6), .ajax-loader3 .paw:nth-child(6) {
  animation-delay: 1s;
  transform: rotate(0deg) scaleX(-1) translate3d(30%, -300%, 0);
}
.ajax-loader2 .paw:nth-child(6), .ajax-loader3 .paw:nth-child(6) {
  animation-delay: 1s;
  transform: rotate(0deg) scaleX(-1) translate3d(-30%, -300%, 0);
}
.ajax-loader2 .paw:nth-child(7), .ajax-loader3 .paw:nth-child(7) {
  animation-delay: 0.75s;
  transform: rotate(0deg) translate3d(-28%, -336%, 0);
}
.ajax-loader2 .paw:nth-child(7), .ajax-loader3 .paw:nth-child(7) {
  animation-delay: 0.75s;
  transform: rotate(1deg) translate3d(7%, -336%, 0);
}
.ajax-loader2 .paw:nth-child(8), .ajax-loader3 .paw:nth-child(8) {
  animation-delay: 0.5s;
  transform: rotate(0deg) scaleX(-1) translate3d(40%, -400%, 0);
}
.ajax-loader2 .paw:nth-child(8), .ajax-loader3 .paw:nth-child(8) {
  animation-delay: 0.5s;
  transform: rotate(1deg) scaleX(-1) translate3d(8%, -400%, 0);
}
.ajax-loader2 .paw:nth-child(9), .ajax-loader3 .paw:nth-child(9) {
  animation-delay: 0.25s;
  transform: rotate(0deg) translate3d(-36%, -432%, 0);
}
.ajax-loader2 .paw:nth-child(10), .ajax-loader3 .paw:nth-child(10) {
  animation-delay: 0s;
  transform: rotate(0deg) scaleX(-1) translate3d(50%, -500%, 0);
}
.no-cssanimations .ajax-loader2 .paw, .no-cssanimations .ajax-loader3 .paw {
  opacity: 1;
}

/* .ajax-loader {
  top: 15%;
  left: 10%;
  transform: rotate(10deg) translate(-50%, 0%);
} */

.ajax-loader2 {
  top: 150%;
  right: 2%;
  transform: translate(-50%, 0%);
  margin-left: 50px;
  /* rotate(-10deg) */
}

.ajax-loader3 {
  top:150%;
  left: 2%;
  transform: rotate(180deg) translate(-50%, 0%);
}

/* .ajax-loader4 {
  top: 45%;
  right: 35%;
  transform: rotate(200deg) translate(-50%, 0%);
} */

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes path1 {
  0% {
    transform: rotate(0deg) scaleX(-1) translate3d(0%, -50%, 0);
  }
  30% {
    transform: rotate(20deg) scaleX(-1) translate3d(-35%, -60%, 0);
  }
  100% {
    transform: rotate(20deg) scaleX(-1) translate3d(0%, -80%, 0);
  }
}



/* explore */

.explore {
    background-color: #c4c4c4;
    margin-top: 5px;
    height: 100vh;
    width: 100vw;
}

.explore .card-one h1 {
    font-size: 25px; /* Change the font size to your desired size */
}

.explore .card-one .text2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: hsl(190deg 64% 18%);
    margin: -150px 115px 60px 80px;
}

.cards .card-one .text2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: hsl(190deg 64% 18%);
  margin: -100px 115px 60px 80px;
}

.card-text p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: hsl(190deg 64% 18%);
}

figure {
    position: relative;
    display:inline-block;
    width: 315px;
    height: 567px;
    border-radius: 20px;
    overflow: hidden;
    margin: 48px;
    margin-top: 10px;
    margin-left: 13px;

}

 
figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

figure:hover h1 {
    opacity: 0;
    transform: scale(0.7);
}

figure:hover img {
    transform: scale(1.25);
}

figure:hover figcaption {
    bottom: 0;
}

figure h1{
    position:absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    line-height: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    z-index: 0;
}

img {
    height: 100%;
    transition: 0.25s;
}

figcaption {
    position: absolute;
    bottom: -44%;
    left: 0;
    width: 100%;
    margin: 0px;
    padding: 20px;
    color: rgb(255, 255, 255);
    line-height: 1;
    transition: 0.25s;
    background-color: rgba(41, 39, 39, 0.8);
    box-shadow: 0px 0px 5px 5px rgba(39, 38, 38, 0.8);
}

figcaption h3 {
    justify-content: center;
    margin: 0 0 20px;
    padding: 0;
}

figcaption p {
    font-size: 20px;
    line-height: 1.55;
    
}

figcaption button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding: 10px 30px;
    /* background-color: $color-2; */
    border: none;
    border-radius: 5px;
    color: rgb(31, 30, 30);
    font-size: 14px;
    cursor: pointer;
}
figcaption button:hover{
  color: white;
  background-color: #7FC5F6;
  /* box-shadow: 0px 0px 3px 3px #6e7679; */
}
figcaption button a{
  color: rgb(0, 0, 0);
}
/* figcaption button:hover a{
  color: white;
} */



/* Map Popup */
.my-swal-container {
  font-family: 'Arial, sans-serif';
}

.my-swal-title {
  color: #333;
  font-size: 30px;
}

.my-swal-container .my-swal-text {
color: #000000;
font-size: 25px;
height: 80%;
width: 80%;
}


.my-swal-confirm-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 4px;
}