
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
   --card-width: 200px;
   --card-height: 300px;
   --card-transition-duration: 1000ms;
   --card-transition-easing: ease;
}


.mid {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
 button {
   border: none;
   background: none;
   cursor: pointer;
}
 button:focus {
   outline: none;
   border: none;
}
 .app {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
 .app__bg {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -5;
  
   pointer-events: none;
   user-select: none;
   overflow: hidden;
}
 .app__bg::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: #000;
   z-index: 1;
   opacity: 0.8;
}
 .app__bg__image {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
   width: 180%;
   height: 180%;
   transition: transform 1000ms ease, opacity 1000ms ease;
   overflow: hidden;
}
 .app__bg__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


 .app__bg__image.card1image {
   opacity: 1;
   --image-translate-offset: 0;
}
 .app__bg__image.card3image, .app__bg__image.card2image , .app__bg__image.card4image , .app__bg__image.card5image , .app__bg__image.card6image, .app__bg__image.card7image .app__bg__image.card8image , .app__bg__image.card9image {
   opacity: 0;
}
 .app__bg__image.card3image {
   --image-translate-offset: -100%;
}
 .app__bg__image.card2image {
   --image-translate-offset: -100%;
}
.app__bg__image.card4image {
  --image-translate-offset: -100%;
}
.app__bg__image.card5image {
  --image-translate-offset: -100%;
}
.app__bg__image.card6image {
  --image-translate-offset: -100%;
}
.app__bg__image.card7image {
  --image-translate-offset: -100%;
}
.app__bg__image.card8image {
  --image-translate-offset: -100%;
}
.app__bg__image.card9image {
  --image-translate-offset: -100%;
}



 .cardList {
   position: absolute;
   width: calc(3 * var(--card-width));
   height:auto;
}
 .cardList__btn {
   --btn-size: 45px;
   width: var(--btn-size);
   height: var(--btn-size);
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 100;
}
 .cardList__btn.btn--left {
   left: -5%;
}
 .cardList__btn.btn--right {
   right: -5%;
}
 .cardList__btn .icon {
   width: 100%;
   height: 100%;
}
 .cardList__btn .icon svg {
   width: 100%;
   height: 100%;
}
 .cardList .cards__wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   perspective: 1000px;
}
 .card {
   --card-translateY-offset: 100vh;
   position:absolute;
   left: 50%;
   top: 50%;
   transform: translate(-58%, -60%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
   display: inline-block;
   width: var(--card-width);
   height: var(--card-height);
   transition: transform var(--card-transition-duration) var(--card-transition-easing);
   user-select: none;
}
 .card::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 125%;
   height: 120%;
   background: #000;
   z-index: 1;
   transition: opacity var(--card-transition-duration) var(--card-transition-easing);
   opacity: calc(1 - var(--opacity));
   border-radius: 40px;
}
 .card__image {
   position: relative;
   width: 125%;
   height: 120%;
}
 .card__image img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 40px;
}
 



.card.card1 {
   --current-card-rotation-offset: 0;
   --card-translateX-offset: 0;
   --card-rotation-offset: var(--current-card-rotation-offset);
   --card-scale-offset: 1.3;
   --opacity: 0.8;
}

.card.card2 {
  --card-translateX-offset: calc(1 * var(--card-width) * 1.4);
  --card-rotation-offset: -10deg;
}

 .card.card3 {
   --card-translateX-offset: calc(2* var(--card-width) * 1.2);
   --card-rotation-offset: -20deg;
}

.card.card4 {
  --card-translateX-offset: calc(3* var(--card-width) * 1.3);
  --card-rotation-offset: -30deg;
}

.card.card5 {
  --card-translateX-offset: calc(4* var(--card-width) * 1.3);
  --card-rotation-offset: -40deg;
}

.card.card6 {
  --card-translateX-offset: calc(-1* var(--card-width) * 1.3);
  --card-rotation-offset: 10deg;
}

.card.card7 {
  --card-translateX-offset: calc(-2* var(--card-width) * 1.2);
  --card-rotation-offset: 20deg;
}

.card.card8 {
  --card-translateX-offset: calc(-3* var(--card-width) * 1.3);
  --card-rotation-offset: 30deg;
}

.card.card9 {
  --card-translateX-offset: calc(-4* var(--card-width) * 1.3);
  --card-rotation-offset: 40deg;
}


 .card.card3, .card.card2 , .card.card4, .card.card5, .card.card6, .card.card7, .card.card8, .card.card9 {
   --card-scale-offset: 0.7;
   --opacity: 0.6;
}




.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}

.infoList .info__wrapper {
  position:static;
  width: 100%; 
  height: 150%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 3.5);
  margin-left: calc(var(--card-width) / 1.135);
  transform: translateZ(5rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  position:fixed;
}

.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.15));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}

.info .description {
  margin-top: 20px;
  --text-size-offset: 0.085;
  font-weight: 600;
}

.info.card1info {
  opacity: 1;
  display:inline-flexbox;
}

.info.card2info, .info.card3info, .info.card4info, .info.card5info, .info.card6info, .info.card7info, .info.card8info, .info.card9info {
  opacity: 0;
  display: none;
}





@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
 }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

