@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Dancing+Script:wght@700&family=Merriweather+Sans:wght@300&family=Roboto:wght@400;500&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "ubuntu", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(190deg 64% 22%);
  border-radius: 5px;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: hsl(190deg 64% 22%);
  right: 3px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.max-width {
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}

.fa-times {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  color: rgb(140, 140, 140);
  font-size: 3rem;
}

.fa-times:hover {
  color: rgb(228, 15, 15);
}

/* Navigation bar styling */
.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  transition: all 0.3s ease;
  /* background-color: #0000006e; */
}

.navbar.sticky {
  padding: 8px 0;
  box-shadow: 0 0 5px rgba(14, 55, 63, 0.15);
  background: #fafeff;
}

.navbar .max-width {
  position: relative;
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  color: #00bfff;
}

.navbar .logo i {
  font-size: 40px;
  color: #00bfff;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}

.navbar.sticky .logo {
  color: hsl(190deg 64% 22%);
}

.navbar.sticky .logo i {
  color: hsl(190deg 64% 22%);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}

.navbar .menu li a {
  color: #00bfff;
  font-size: 17px;
  font-weight: bolder;
  padding: 12px 20px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  color: #1a1a1a;
}

.navbar.sticky .menu li a {
  color: hsl(190deg 64% 22%);
}

.navbar.sticky .menu li a:hover {
  color: hsl(190deg 64% 22%);
  padding: 12px 20px;
  border-bottom: 3px solid hsl(190deg 64% 22%);
  border-radius: 5px;
}

.navbar .sticky .logo {
  color: hsl(190deg 64% 22%);
}

.navbar.sticky .menu li .last:hover {
  background: #f75522;
  color: #fff;
}

/* Menu btn styling */
.menu-btn {
  color: #111;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.sticky .menu-btn {
  color: #111;
}

/* footer */
.footer-distributed {
  background: #e8f1f4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  font-family: "Josefin Sans", sans-serif;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
.footer-distributed h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
  font-size: 45px;
  margin: 0;
}

.footer-distributed h3 span {
  color: #00bfff;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #000000;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: rgb(158, 154, 154);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #000000;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
  background-color: #00bfff;
}

.footer-distributed .footer-center i.fa-map-marker {
  background-color: #00bfff;
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center i.fa-phone {
  background-color: #00bfff;
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #000000;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #000000;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 35px;
  background-color: #00bfff;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a .fa-facebook:hover {
  color: #0077ff;
}

.footer-distributed .footer-icons a .fa-instagram:hover {
  color: #b70e92;
}

.footer-distributed .footer-icons a .fa-youtube:hover {
  color: #ff0000;
}

@media all and (min-width: 0px) and (max-width: 10000px) {
  @import url("https://fonts.googleapis.com/css2?family=Assistant&family=Dancing+Script:wght@700&family=Merriweather+Sans:wght@300&family=Roboto:wght@400;500&display=swap");

  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "ubuntu", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(190deg 64% 22%);
    border-radius: 5px;
  }

  .scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: hsl(190deg 64% 22%);
    right: 3px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
  }

  .max-width {
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
  }

  .fa-times {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    color: rgb(140, 140, 140);
    font-size: 3rem;
  }

  .fa-times:hover {
    color: rgb(228, 15, 15);
  }

  /* Navigation bar styling */
  .navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
    transition: all 0.3s ease;
    /* background-color: #0000006e; */
  }

  .navbar.sticky {
    padding: 8px 0;
    box-shadow: 0 0 5px rgba(14, 55, 63, 0.15);
    background: #fafeff;
  }

  .navbar .max-width {
    position: relative;
    display: flex;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    color: #00bfff;
  }

  .navbar .logo i {
    font-size: 40px;
    color: #00bfff;
  }

  .navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
  }

  .navbar.sticky .logo {
    color: hsl(190deg 64% 22%);
  }

  .navbar.sticky .logo i {
    color: hsl(190deg 64% 22%);
  }

  .navbar .menu li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
  }

  .navbar .menu li a {
    color: #00bfff;
    font-size: 17px;
    font-weight: bolder;
    padding: 12px 20px;
    transition: color 0.3s ease;
  }

  .navbar .menu li a:hover {
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    color: #1a1a1a;
  }

  .navbar.sticky .menu li a {
    color: hsl(190deg 64% 22%);
  }

  .navbar.sticky .menu li a:hover {
    color: hsl(190deg 64% 22%);
    padding: 12px 20px;
    border-bottom: 3px solid hsl(190deg 64% 22%);
    border-radius: 5px;
  }

  .navbar .sticky .logo {
    color: hsl(190deg 64% 22%);
  }

  .navbar.sticky .menu li .last:hover {
    background: #f75522;
    color: #fff;
  }

  /* Menu btn styling */
  .menu-btn {
    color: #111;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }

  .sticky .menu-btn {
    color: #111;
  }

  /* footer */
  .footer-distributed {
    background: #e8f1f4;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px 50px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  /* Footer left */
  .footer-distributed .footer-left {
    width: 40%;
  }

  /* The company logo */
  .footer-distributed h3 {
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
  }

  .footer-distributed h3 span {
    color: #00bfff;
  }

  /* Footer links */
  .footer-distributed .footer-links {
    color: #000000;
    margin: 20px 0 12px;
    padding: 0;
  }

  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }

  .footer-distributed .footer-company-name {
    color: rgb(158, 154, 154);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  /* Footer Center */
  .footer-distributed .footer-center {
    width: 35%;
  }

  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #000000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
    background-color: #00bfff;
  }

  .footer-distributed .footer-center i.fa-map-marker {
    background-color: #00bfff;
    font-size: 17px;
    line-height: 38px;
  }

  .footer-distributed .footer-center i.fa-phone {
    background-color: #00bfff;
    font-size: 17px;
    line-height: 38px;
  }

  .footer-distributed .footer-center p {
    display: inline-block;
    color: #000000;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }

  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }

  .footer-distributed .footer-center p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #000000;
    display: inline-block;
    padding-right: 5px;
  }

  .footer-distributed .footer-links .link-1:before {
    content: none;
  }

  /* Footer Right */
  .footer-distributed .footer-right {
    width: 20%;
  }

  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }

  .footer-distributed .footer-company-about span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-distributed .footer-icons {
    margin-top: 25px;
  }

  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    line-height: 35px;
    background-color: #00bfff;
    margin-right: 3px;
    margin-bottom: 5px;
  }
}
